*{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    list-style-type: none;
}
body{
    background-image: url("../imgs/Grocery.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.center{
    width: 100%;
    height: 100vh;
}
.content{
    width: 20%;
    height: 50%;
    margin: auto;
    transform: translateY(50%);
}
.wasal{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.Grocery{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
.arabic{
    font-size: 40px;
    font-weight: bolder;
    color: white;
}
button{
    width: 50%;
    padding: 15px;
    font-weight: bolder;
    color: white;
    background-color: #2b894e;
    border-radius: 20px;
    border-color: #2b894e;
    

}